.flex_item {
    flex: 0 0 97%;
    margin: 0 1.5%;
}

@media(min-width:600px) {
    .flex_item {
        flex: 0 0 46%;
    }
}

@media(min-width:900px) {
    .flex_item {
        flex: 0 0 22%;
    }
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.title::first-letter {
    text-transform: capitalize;
}

